@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.container {
    background-color: #2d3a8c;
    height: 150vh;
    padding: 20px;
}

.container p {
    color: #ffffff;
    font-family: Roboto;
    margin-top: 15px;
}

.container h3 {
    color: #ffffff;
    margin-top: 2px;
    font-family: Roboto;
}

.secontainer {
    background-color: #ffffff;
    height: 90vh;
    margin: 0px;
    border-radius: 15px;
}

.form {
    background-color: #f5f7fa;
    height: 50vh;
    margin: 20px;
    border-radius: 15px;
    padding: 20px;
}